/* LOGIN BOX */

.login-bg {
    height: 100vh;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
    
  .login-bg .cover {
    background-color: #3498db;
    height: 50vh;
  }
    
  .login-box {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
    
  /*.login-box .login-logo {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }*/
    
  .login-box .login-body {
    padding: 30px;
    background: #fff;
    color: #555;
    border-top: 0;
  }
    
  .login-box .login-body p {
    margin: 0;
    padding: 0 20px 20px 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
    
  .login-box .login-body .input-group-text {
    background: transparent;
    color: #777;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
    
  .login-box .login-body .btn-login {
    padding: 6px 12px !important;
    width: 100%;
    color: #fff !important;
    background: #3498db !important;
    text-align: center;
    border-color: #3498db !important;
  }