<section class="login-bg">
    <div class="cover"></div>
  </section>
  <section class="login-box">
    <div class="card">
        <div class="card-body login-body">
            <p class="card-text">¡Hola! Ingresá tu usuario y tu contraseña</p>
            <form action="login.php" method="post" enctype="multipart/form-data">
                <div class="mb-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                        <input class="form-control" type="text" name="usuario" placeholder="Introduzca su nombre de usuario" autocomplete="off" required>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input class="form-control" type="password" name="password" placeholder="Introduzca su contraseña" autocomplete="off" required>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="recordar" name="recordar" checked=""><label class="form-check-label" for="recordar">Recuérdame</label></div>
                    </div>
                    <div class="col-6 d-flex justify-content-end"><a href="#">No sé mi clave</a></div>
                </div><button class="btn btn-login" type="submit">Ingresar</button>
                <div class="text-center mt-4">
                    <p>¿No tenés cuenta?&nbsp;<a href="#">Regístrate</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>