<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">LuckyPay</h5>
      <p class="card-text">Somos una billetera virtual con presencia en toda la argentina, damos servicio de transferencia de 
        dinero y compra/venta de criptomonedas .</p>
      <a href="#" class="btn btn-primary">Mas info+</a>
    </div>
  </div>
  
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">¿Que signica LuckyPay?</h5>
      <img class="d-inline-block align-bottom" src=".\assets\logolucky.png" width="65" height="70" alt=""><img class="d-inline-block align-bottom" src=".\assets\luckypalabras.png" width="130" height="70" alt="">
      <p class="card-text">"LUCKY" de suerte en ingles y la palabra "PAY" de pagar.</p>
      <a href="#" class="btn btn-primary">Mas info+</a>
    </div>
  </div>
