
<div class= "m-0  row justify-content-center align-items-center col-auto  ">
<div class="mb-3 w-75 bg-info">
  <label for="exampleFormControlInput1" class="form-label" class="text-white">Nombre completo</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombres apellidos">
</div>
<div class="mb-3 w-75 bg-info ">
  <label for="exampleFormControlInput1" class="form-label" class="text-white">Fecha de nacimiento</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="dd/mm/aaaa">
</div>
<div class="mb-3 w-75 bg-info">
    <label for="exampleFormControlInput1" class="form-label" class="text-white">Email</label>
    <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3 w-75 bg-info">
    <label for="exampleFormControlInput1" class="form-label" class="text-white">Celular</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+54 3751 *****">
  </div>
  <div class="mb-3 w-75 bg-info">
    <label for="exampleFormControlInput1" class="form-label" class="container-fluid bg-primary text-center p-3"  class="text-white">Domicilio</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Calle, altura, etc.">
  </div>
  <div class="mb-3 w-75 bg-info">
    <label for="exampleFormControlTextarea1" class="form-label" class="text-white" >Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>

  


  
 