/* REGISTRO DE USUARIOS */
.seccion-titulo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
}
.registro-usuario {
  position: relative;
  background: #fff;
}
  
.registro-usuario .card {
  margin-bottom: 2px;
  padding: 0 0 15px;
  background: #fff;
  border-radius: 0;
}
  
.registro-usuario .card h6 {
  margin: 0;
  padding: 2px 0;
  font-weight: 600;
  text-transform: uppercase;
}
  
/* FORMULARIO DE REGISTRO */
  
.registro-usuario .form-group {
  margin: 0 10px;
}
  
.registro-usuario label {
  margin: 5px 0 0;
  font-weight: 700;
}
  
/*.registro-usuario input, .registro-usuario select {
  padding: 18px;
}*/
  
.registro-usuario .btn-aceptar {
  margin-right: 10px;
  padding: 7px 15px;
  background: #3498db;
  color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.4s;
}